<footer class="footer-container">
    <div class="footer-content">
        <div>
            &copy; {% now "Y" %} DNR Resume Intelligence App. All rights reserved.
        </div>
        <div class="footer-links">
            <a href="/home/" class="footer-link">Home</a>
            <a href="/students/feedback/" class="footer-link">Feedback</a>
            <a href="#" class="footer-link">Privacy Policy</a>
            <a href="#" class="footer-link">Terms of Service</a>
        </div>
    </div>
</footer>